<div class="container panel-container p-5" style="margin-top: 100px;">
    <form>
        <div class="row">
            <div class="form-group col">
                <label for="taskTitle">Task Title</label>
                <input type="text" name="title" [(ngModel)]="searchTaskObj.title" class="form-control" placeholder="Task Title">
            </div>

            <div class="form-group col">
                <label for="colorCode">Color</label>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" style="width: -webkit-fill-available;" [ngStyle]="{'background-color': searchTaskObj.colorCode}" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Color
                    </button>
                    <div class="dropdown-menu" style="width: -webkit-fill-available;" aria-labelledby="dropdownMenu2">
                        <button (click)="selectColor(color.generalName)" class="dropdown-item" *ngFor="let color of taskColor" [ngStyle]="{'background-color': color.generalName}" type="button">Color</button>
                    </div>
                </div>
            </div>

            <div class="form-group col">
                <label for="fromDueDate">From Due Date</label>
                <input type="date" name="fromEndDate" [(ngModel)]="searchTaskObj.fromEndDate" class="form-control" placeholder="Select Date">
            </div>

            <div class="form-group col">
                <label for="colorCode">To Due Date</label>
                <input type="date" name="toEndDate" [(ngModel)]="searchTaskObj.toEndDate" class="form-control" placeholder="Select Date">
            </div>
        </div>

        <div class="row">
            <div class="form-group col-3">
                <label for="tags">Tag</label>
                <select class="form-control" name="tagss" [(ngModel)]="searchTaskObj.tag">
                    <option *ngFor="let tag of taskTag" [value]="tag.generalId">{{tag.generalName}}</option>
                </select>
            </div>
            <div class="form-group col-3">
                <label for="tags">Status</label>
                <select class="form-control" name="statuss" [(ngModel)]="searchTaskObj.status">
                    <option *ngFor="let status of taskStatus" [value]="status.generalId">{{status.generalName}}</option>
                </select>
            </div>
            <div class="form-group offset-sm-3 col-3">
                <div class="float-right mt-5">
                    <button type="button" (click)="getTasks()" class="btn btn-primary ">Search</button>
                    <button type="reset" (click)="reset()" class="btn btn-danger ml-2">Clear</button>
                </div>
            </div>
        </div>

    </form>

</div>

<div class="container panel-container mt-2 p-5">

    <form>
        <div class="row">
            <div class="form-group col-3">
                <select class="form-control" name="orderby" [(ngModel)]="orderBy">
                    <option *ngFor="let col of cols" (click)="selectOrderBy(col.value)" value="col.value">{{col.name}}
                    </option>
                </select>
            </div>

            <div class="form-group col-3">
                <button type="button" *ngIf="sortType" (click)="toggleSortType()" class="btn btn-primary ">Ascending</button>
                <button type="button" *ngIf="!sortType" (click)="toggleSortType()" class="btn btn-primary">Descending</button>
            </div>
        </div>
    </form>
    <!-- *ngFor="let task of taskList" -->
    <div class="row card-group">
        <div class="col-4" *ngFor="let task of taskList">
            <div class="card" style="width: 18rem;" [ngStyle]="{'border-color': colors[task.colorCode-1]}">
                <div class="card-header text-center" style="color:white" [ngStyle]="{'background-color': colors[task.colorCode-1]}">
                    {{task.title}}
                </div>
                <div class="card-body text-center">
                    <p class="card-text">Due Date: {{task.endDate}}</p>
                    <p class="card-text">{{task.description}}</p>
                    <p class="card-text">Status: {{status[task.status-1]}}</p>
                    <button type="button" *ngIf="task.status==1" (click)="changeStatus(task.taskId)" class="btn btn-outline-primary btn-sm" [ngStyle]="{'border-color': colors[task.colorCode-1], 'color': colors[task.colorCode-1]}">Start</button>
                    <button type="button" *ngIf="task.status==2" (click)="changeStatus(task.taskId)" class="btn btn-outline-primary btn-sm" [ngStyle]="{'border-color': colors[task.colorCode-1], 'color': colors[task.colorCode-1]}">Done</button>
                    <button type="button" *ngIf="task.status!=3 && task.status!=4" (click)="deleteTask(task.taskId)" class="btn ml-2 btn-outline-primary btn-sm" [ngStyle]="{'border-color': colors[task.colorCode-1], 'color': colors[task.colorCode-1]}">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>