<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" style="color: white;">TO-DO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link ml-5" routerLink="view-task" routerLinkActive="active">Task</a>
            </li>
            <li class="nav-item active ml-2">
                <a class="nav-link" routerLink="archived-task" routerLinkActive="active">Archived</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input type="text" disabled class="form-control float-right mr-sm-2" value="{{userName}}">
            <button class="btn btn-outline-success my-2 my-sm-0" (click)="logout()" type="button">Log out</button>
        </form>
    </div>
</nav>