<div class="wrapper">
    <div class="container-fluid text-center">
        <h1>TO-DO</h1>
    </div>
    <div id="formContent">
        <form #loginForm="ngForm" novalidate>
            <input autocomplete="new-password" required [(ngModel)]="userName" type="text" id="login" class="mt-5" name="login" placeholder="Username">
            <input autocomplete="new-password" required [(ngModel)]="password" type="password" id="password" class="" name="login" placeholder="Password">
            <input [disabled]="!loginForm.valid" type="button" (click)="submit()" class="" value="Log In">
        </form>
        <a routerLink="/signup" class="mb-2">Go to Signup</a>
    </div>
</div>